/* 
    General Styles
*/

* {
    text-align: center;
    box-sizing: border-box;
    cursor: url(./Pictures/sword.png), auto;
}

a:hover {
    color: purple;
}

a:visited {
    color:inherit;
    
}

/*
    Top Header and Nav
*/

.menu {
    background-color: black;
}

.main-nav {
    display: inline-block;
}

header {
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
    background-color: lightgray;
    
}

header li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*
    Main Content Styles
*/

body {
    height: 100%;
    margin: 0;
}

.main-title-background {
    background-image: url(./Pictures/cobble.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /*
    filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-size: cover;
    height: 100%;
    padding-bottom: 8em;
    padding-top: 8em;
}

.main-title {
    font-family: fantasy, Arial, sans-serif;
    font-size: 300%;
    text-shadow: 1.75px 1px #290004;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    filter: none;
    text-decoration: underline;
} 

.start-button {
    font-weight: normal;
    margin: 0;
    margin-bottom: .25em;
    position: center;
    padding: 15px;
    border: 3px solid #f1f1f1;
    background-color: rgba(0, 0, 0); 
    background-color: rgba(82, 81, 81, 0.6);
}

.start-button a {
    text-decoration: none;
}

/*
    Footer Content
*/

footer {
    background-color: black;
    overflow: auto;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    
}

.footer-nav {
    list-style-type: none;
    color: white;
}

/*
    Sticky Footer
*/


