/* 
    General Styles
*/

* {
    text-align: center;
    box-sizing: border-box;
    cursor: url(./Pictures/sword.png), auto;
}

a:visited {
    color:inherit;
    
}

/*
    Top Header and Nav
*/

.collapsible {
    background-color: black;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.menu {
    /*
    background-color: black; */
    display: none;
    overflow: hidden;
    background-color: lightgray;
    /*
    background-color: rgba(0,0,0); */
}

.menu:hover {
    background-color: grey;
}

.active, .collapsible:hover {
    background-color: #24292E;
  }

.main-nav {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
    background-color: lightgrey;
}

header a:hover {
    background-color: grey;
}

header li {
    display: inline-block;
    width: 100%;
    /*
    font-size: 200%; */
}

/*
    Main Content Styles | Index
*/

body {
    height: 100%;
    margin: 0;
}

.main-title-background {
    background-image: url(./Pictures/cobble.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /*
    filter: blur(8px); */
    background-size: cover;
    height: 100%;
    padding-bottom: 8em;
    padding-top: 8em;
}

.main-title {
    font-family: fantasy, Arial, sans-serif;
    font-size: 300%;
    text-shadow: 1.75px 1px 8px #5e5354;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
} 

.start-button {
    display: block;
    font-weight: normal;
    margin: 0;
    margin-bottom: .25em;
    position: center;
    padding: 15px;
    border: 3px solid #f1f1f1;
    background-color: rgba(82, 81, 81); 
    background-color: rgba(82, 81, 81, 0.6);
}

.start-button:hover {
    background-color: rgba(82, 81, 81);
}

.start-button a {
    text-decoration: none;
}

/*
    Main Content Styles | Form
*/

.form-background {
    background-color: lightgray;
    background-image: url(./Pictures/cobble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 8em;
}

.form-content {
    border: 3px solid #f1f1f1;
    background-color: rgba(82, 81, 81);
    background-color: rgba(82, 81, 81, 0.6);
    max-width: 75%;
    margin: auto;
}

input[type=text]:focus {
    outline: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgba(82, 81, 81);
    border: none;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 32px;
}

h2 {
    display: inline-block;
    margin-top: .25em;
    font-family: fantasy, arial, sans-serif;
    font-size: 300%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: underline;
}

.form-description {
    margin-top: -1.5em;
    margin-left: 2em;
    margin-right: 2em;
    align-content: center;
    font-weight: bold;
    /*
    background-color: rgba(82, 81, 81);
    background-color: rgba(82, 81, 81, 0.6); */
}

.form-input {
    padding-bottom: 3em;
    padding-top: 1em;
    margin-top: 8em;
    font-weight: bold;
    background-color: rgba(82, 81, 81);
    background-color: rgba(82, 81, 81, 0.6);
    border-top: 4px solid black;
}

/*
    Footer Content
*/

footer {
    background-color: black;
    overflow: auto;
    color: white;
    height: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    
}

.footer-nav {
    list-style-type: none;
    color: white;
}

.fa {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: .7;
}

.fa-linkedin {
    background-color: #0077B5;
    margin-right: 2.5px;
}

.fa-github {
    background-color: #24292E;
    margin-left: 2.5px;
}

/*
    Sticky Footer
*/


